
.coin-section {
    background-color: #edc7b7;
    margin-bottom: -20px;
    margin-top: -20px;
    margin-right: -8px;
    margin-left: -8px;
    text-align: center;
    border-bottom: 2px solid #000;
}

p {
    font-family: "Copperplate Gothic";
}
span {
    font-family: "Copperplate Gothic";
}
button {
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    font-family: "Copperplate Gothic";
    background-color: #eee2dc;
}

.total-section {
    background-color: #2b5179;
    margin-top: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Copperplate Gothic";
    font-size: 40px;
    background-color: #2b5179;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
    border-bottom: 2px solid #000;
    padding: 20px;
}

h2 {
    font-family: "Copperplate Gothic";
    margin-bottom: 0px;
    padding-top: 5px;
}

table, th, td {
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

#right {
    text-align: right;
}

body {
    color: #ac3b61;
}